# macOS
.DS_Store

# IDE / Editor
.idea
.vscode
*.sw?
*.swo
*.swp

# Environment
.env
.env.local
*.local

# Node
node_modules
dist
dist-ssr

# Node logs
*.log
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Rust / Tauri
/target
/src-tauri/target
Cargo.lock
**/*.rs.bk

# Build output
*.app
*.dmg

# Whisper models
models/*.bin
models/*.ggml
